#PostPage{
  text-align: center;
  padding-top: 50px;
  font-family: serif;
}

#post-title{
  font-size: 3.5em;
  font-weight: bold;
}

#post-date-category{
  padding-top: 20px;
  padding-bottom: 40px;
  color:  #888888;
}

#post-text{
  text-align: left;
}
